
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Ruda:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* BOOTSTRAP */

//   display: flex;
//   flex-direction: row;
  
// } being overriden by navbar class set by bootstrap, reach out to documentation to override.

/* NON-BOOTSTRAP */

.logo {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  width: 130vh
}

.hero-title {
  font-family: 'Exo', sans-serif;
  font-size: 70px;
  line-height: 75px;
}

.hero-container, .item-container {
  width: 130vh;
  margin: auto;
  height: 100vh;
  margin-top: 50px;
}

.hero-button {
  width: 250px;
  height: 55px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-login {
  margin-top: 20px;
}


/* FOOD SHOW PAGE */


.main-container {
  border-top: rgb(52, 132, 224);
}
.macro-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 

.item-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 52px;
  text-transform: capitalize;
}

.item-serving {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 42px;
}

.food-calories {
  font-size: 66px;
}

.calories-span{
  color: rgb(160, 158, 158);
  font-size: 20px;
  margin-top: -10px;
}

.macro {
  font-size: 32px;
}

.macro-calorie, .macro-carbs, .macro-fat, .macro-protein{
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
}

.macro-carbs, .macro-fat, .macro-protein {
  font-size: 18px;
}

.carbs-percentage, .protein-percentage, .fat-percentage {
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}

.carbs-percentage {
  color: rgb(209, 68, 202);
}

.protein-percentage {
  color: rgb(52, 132, 224);
}

.fat-percentage {
  color: #f84a4a;
}

/* FOOD INDEX */

.results-container {
  width: 130vh;
  margin: auto;
  margin-top: 50px;
}

.food-list {
  height: 20vh;
  list-style-type: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  margin-top: -45px;

}

.serving-search, .macros-search {
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

/* LOGIN PAGE */ 
label {
  font-weight: bold;
  font-size: 22px;
}
input {
  margin-bottom: 20px;
  height: 5vh;
  width: 35vh;
  border: 1px solid #7c767659 !important;
  border-radius: 5px;
}

.login-wrapper {
  width: 130vh;
  height: 60vh;
  margin: 45px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.register-wrapper {
  width: 130vh;
  height: 80vh;
  margin: 50px auto;
  text-transform: capitalize;
}

.register-box {
  padding-top: 20px;
  border-bottom: 1px solid #a09d9d8e;
  border-top: 1px solid #a09d9d8e;
  font-family: 'Roboto Condensed', sans-serif;
}

.login-box {
  height: 50vh;
  width: 50vh;
  border-bottom: 1px solid #a09d9d8e;
  border-top: 1px solid #a09d9d8e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  align-items: center;
  justify-content: center;
}

.email-container, .password-container {
  flex-direction: column;
}

.email-container, .password-container, .login-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.register-button {
  padding-bottom: 20px;
} 

/* LOGBOOK PAGE */ 

.logbook-box {
  width: 130vh;
  margin: 20px auto;
  height: 150vh;
  border-top: 1px solid #a09d9d8e;
  border-bottom: 1px solid #a09d9d8e;
}

.logbook-top {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.logbook-welcome, .logbook-status {
  width: 45vh;
  height: 5vh;
  border-bottom: 1px solid #a09d9d8e;
  font-size: 20px;
  text-align: center;
  font-family: 'Exo', sans-serif;
  padding-top: 10px;
}

.logbook-main {
  display: flex;
  flex-direction: column;
}

.name-book {
  display: flex;
  justify-content: space-between;
  width: 60vh;
}


