/* BOOTSTRAP */

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Ruda:wght@900&display=swap');

.main-navbar {
  display: flex;
  flex-direction: row;
  
}

/* NON-BOOTSTRAP */

.logo {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  width: 130vh
}

.hero-title {
  font-family: 'Exo', sans-serif;
  font-size: 70px;
  line-height: 75px;
}

.hero-container {
  width: 130vh;
  margin: auto;
  height: 100vh;
  margin-top: 50px;
}

.hero-button {
  width: 250px;
  height: 55px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-login {
  margin-top: 20px;
}
